[submodule "client/node_modules/.cache/gh-pages/https!github.com!ReplicantCoder9000!Authentication-with-JSON-Web-Tokens-JWTs-"]
  path = client/node_modules/.cache/gh-pages/https!github.com!ReplicantCoder9000!Authentication-with-JSON-Web-Tokens-JWTs-
  url = https://github.com/ReplicantCoder9000/Authentication-with-JSON-Web-Tokens-JWTs-.git
